body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  background-color: white;
  padding: 0 .5em;
}
.footer {
  background-color: white;
  padding: 0 .5em;
}
.main {
  background-color: #fff8d8;
  padding: 1em;

  position: relative;
}
h1 {
  font-size: 150%;
  margin: 0 0;
  padding: .5em 0;
}
div {
  padding: 0vw 0vh;
  margin: 0vw 0vh;
}

header#adminBar {
  background-color: #fff;
  border-bottom: 1px solid #32373c;
  height: 40px;
  width: 100%;
  padding: 0 10px;
    top: 0;
    left: 0;
  position: fixed;
  z-index: 99;
}
#mainNav {
  margin-top: 40px;
}
#mainNav .mainNav-Bg {
  background-color: #23282d;
    top: 0;
    bottom: -120px;
  position: fixed;
  width: 200px;
  z-index: 1;
}
#mainNav .mainNavBox {
  background-color: #23282d;
  padding-top: 40px;
  overflow-y: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  position: fixed;
    max-width: 200px;
  width: 100%;
  z-index: 2;
}
main {
  height: 100%;
  margin-left: 200px;
  padding-top: 40px;
}
