body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
/* 基本装飾 */
header {
  background: #333;
  padding: .5rem;
  text-align: right;
}
a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}
li {
  margin: 2rem 0;
}

/* ボタン */
.btn-menu {
  border: 1px solid #999;
  background: transparent;
  color: #fff;
  padding: .5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1;
}

/* メニュー */
nav {
  background: #0bd;
  position: absolute;
  z-index: 1;
  top: 3.125rem;
  right: 0;
  overflow-x: hidden;
  text-align: center;
  width: 0;
  transition: .5s;
}
/* メニューを開いた時 */
nav.open-menu {
  width: 100%;
}

.header {
  background-color: white;
  padding: 0 .5em;
}
.footer {
  background-color: white;
  padding: 0 .5em;
}
.main {
  background-color: #fff8d8;
  padding: 1em;

  position: relative;
}
h1 {
  font-size: 150%;
  margin: 0 0;
  padding: .5em 0;
}
div {
  padding: 0vw 0vh;
  margin: 0vw 0vh;
}

